body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .home-page{
  background-image: url(./img/bg2.png);
  height: 900px !important;
  width: 1000px !important;
  background-size: contain !important;
  background-repeat: no-repeat;
} */

.image {
  position: absolute !important;
  opacity: 50% !important;
  
}

.signin-form {
  position: relative !important;
  padding-top: 150px !important;
  color: rgb(0, 0, 0) !important;
}

.label-text {

  color: rgb(0, 0, 0) !important;
}

small{
  color: #706c6c !important;
}

h4 {
  color: #9b0707 !important;
}

.form-control {
  background: transparent !important;
}

input {
  border-color: rgb(0, 0, 0) !important;
}

input:hover {
  border-color: rgb(39, 37, 37) !important;
}
